@import "tailwindcss";

/* Ocultar barra de desplazamiento pero mantener funcionalidad */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Para todo el body */
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}